# Python-bestanden om te negeren
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter en notebooks
.ipynb_checkpoints/

# Virtuele omgevingen
.env/
.venv/
env/
venv/

# MacOS en IDE-bestanden
.DS_Store
.vscode/
